body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
  background-color: #fefae0;
  color: #646f42;
  margin: 24px 56px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header__titleAndSubtitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1,h2,h3{
  margin: 0;
}

h1 {
  color: #646f42;
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

button {
  padding: 12px 20px;
  border: 1px solid #646f42;
  border-radius: 12px;
  background-color: #646f42;
  color: #e9edc9;
  font-size: 16px;
}

button:hover {
  background-color: rgba(100, 111, 66, 0.8);
}

.filterButton {
  padding: 8px 12px;
  border: 1px solid #646f42;
  box-shadow: 0 2px 3px #646f42;
  background-color: #e9edc9;
  color: #646f42;
}

.filterButton:hover {
  background-color: rgba(100, 111, 66, 0.3);
}

.buttons__add {
  display: flex;
  gap: 16px;
}

.filterButton__active {
  background-color: #646f42;
  color: #e9edc9;
}

.filterButton__active:hover {
  background-color: rgba(100, 111, 66, 0.9);
}

.buttons__filters, .dogCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}


.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #646f42;
  box-shadow: 0 2px 3px #646f42;
  border-radius: 12px;
  padding: 12px;
  max-width: 450px;
  text-align: center;
  margin: 10px;
}

img {
  max-width: 100%;
  max-height: 150px;
}

