html {
  background-color: #fdf0d5;
}

body {
  position: relative;
  height: 100vh;

  color: #003049;
  font-size: 16px;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  padding: 16px;

  min-width: 300px;
  max-width: 500px;

  background-color: #669bbc;
  border-radius: 8px;
  box-shadow: inset 0 4px 10px rgba(0, 48, 73, 0.25);
}

.result {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 8px;

  background-color: #cad2c5;
  border-radius: 8px;
}

.keys{
    
}
.key {
  padding: 8px;

  background-color: #eae2b7;
  border: none;
  border-radius: 8px;
}
