* {
  box-sizing: border-box;
}

html {
  background-color: #fdf0d5;
}

body {
  position: relative;
  height: 100vh;

  color: #003049;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  min-width: 250px;
  max-width: 380px;
  min-height: 380px;
  max-height: 550px;

  background-color: #669bbc;
  border-radius: 8px;
  box-shadow: inset 0 4px 10px rgba(0, 48, 73, 0.25);
}

.result {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px 8px;

  max-width: 348px;
  overflow: auto;

  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;

  background-color: #cad2c5;
  border: 1px solid rgba(0, 48, 73, 0.15);
  border-radius: 8px;
  box-shadow: inset 0 2px 4px rgba(0, 48, 73, 0.35);
}

.keys {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 4px;
}

.key {
  padding: 8px;
  width: calc(25% - 4px);

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;

  background-color: #eae2b7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 48, 73, 0.3),
    inset 0 -2px 5px rgba(0, 48, 73, 0.25);
}

.delate{
  background-color: #cb8d8d;
}

.operation {
  background-color: #c5ced2;
}

.key:active {
  transform: translateY(-1px);
}

.key:last-child {
  width: calc(50% - 8px);
}
