/*Header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header__titleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.header__intro {
  min-width: 250px;
  max-width: 600px;
}

@media (width<460px) {
  header {
    align-items: flex-start;
  }
  .header__titleAndSubtitle {
    align-items: flex-start;
    text-align: start;
  }
}

/*Form*/

form[name="contact"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.form__content {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__content fieldset {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: var(--green);

  border: 1.5px solid var(--green);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--green-soft);
  background-color: var(--white-warm);
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--gray-dark);
}

.form__item input,
.form__item textarea {
  padding: 8px;
  border: 1.5px solid var(--beige-medium);
  border-radius: 8px;
  background-color: var(--beige-light);
  box-shadow: 0 2px 4px var(--beige-medium);
}

.form__item input:focus,
.form__item textarea:focus {
outline-color: var(--green);
}

label:has(+ input[required="true"]):after , label:has(+ textarea[required="true"]):after {
  content: "*";
  color: var(--red-soft);
}

@media (width<460px) {
  form[name="contact"] {
    align-items: flex-start;
  }
  .form__content {
  max-width: none;
}
}
