/*Header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header__titleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.header__intro {
  min-width: 250px;
  max-width: 600px;
}

@media (width<460px) {
  header {
    align-items: flex-start;
  }
  .header__titleAndSubtitle {
    align-items: flex-start;
    text-align: start;
  }
}


/*Message submit*/

.message__form {
  position: fixed;
  inset: 0;
  z-index: 9;

  align-items: center;
  justify-content: center;

  background-color: var(--white-warm);
}

.message__form:not([hidden]) {
  display: flex;
}

.message__form[hidden] {
  display: none;
}

.message__contact__text{
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--white-warm);

  border: 1.5px solid var(--green);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--green-soft);
  background-color: var(--green);
}