/*Buttons y filtros*/

.button__add {
  cursor: pointer;
  display: inline-flex;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: normal;
  color: var(--white-warm);

  background-color: var(--green);
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 4px var(--green-06);
}

@media (width<400px) {
  .button__add {
    padding: 10px 16px;
  }
}

.button__add:hover {
  background-color: var(--green-soft);
}

.button__add:active,
.filter__toggle:active,
.clean__filters:active {
  transform: scale(1) translateY(1px);
}

button:disabled {
  background-color: var(--gray-medium);
}

.buttonheart {
  cursor: pointer;
}

.filter__toggle,
.clean__filters,
.filter {
  cursor: pointer;
  white-space: nowrap;

  padding: 8px 12px;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: normal;
  color: var(--green);

  background-color: var(--white-warm);
  border: 1.5px solid var(--green);
  border-radius: 8px;
  transition: transform 0.15s ease;
}

.filter__toggle__open {
  background-color: var(--beige-light);
}

.clean__filters {
  color: var(--gray-medium);
  background-color: var(--beige-light);
  border-color: var(--beige-medium);
}

.filter {
  white-space: nowrap;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 32px 8px 12px;
  height: 42.67px;
}

@media (width<870px) {
  .filter {
    width: 100%;
  }
}

.filter:focus {
  outline-color: var(--terracotta-soft);
  color: var(--terracotta-soft);
  background-color: var(--white-warm);
}

.filter__toggle:hover,
.filter:hover {
  background-color: var(--beige-light);
}

.filter__toggle__open:hover,
.clean__filters:hover {
  background-color: var(--beige-medium);
}

.filter__badge {
  display: none;
}

.filters__badge__active {
  position: absolute;
  top: -5.5px;
  right: -6px;

  padding: 2px;
  min-width: 12px;
  height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  color: var(--white-warm);
  border: 0.8px solid var(--beige-medium);
  border-radius: 100px;
  background-color: var(--green);
}

.filter__icon_close {
  display: none;
}

@media (width<768px) {
  .filter__icon_close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

/*Buscador*/

.search {
  flex: 1;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.search__input {
  align-self: flex-start;
  width: 100%;
  padding: 8px 12px;
  background-color: var(--beige-light);
  border: 1.5px solid var(--beige-medium);
  border-radius: 8px;
}

@media (width<768px) {
  .search {
    min-width: 0;
    max-width: none;
    width: 100%;
  }

  .search__input {
    width: 100%;
  }
}

input[type="text"]:focus {
  outline-color: var(--green);
}

.search__icon {
  transform: translateX(-32px);
}

/*Header containers y otros*/

header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__principalinfo {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.buttons__add {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filters__icon {
  position: relative;
}

.filter__panel {
  display: none;
}

.filter__panel__active {
  display: flex;
  gap: 16px;
}

@media (width < 870px) {
  .filter__panel__active {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 16px;

    background-color: var(--white-warm);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);

    max-height: 80vh;
    overflow: hidden;
    z-index: 100;
  }
}

.filters {
  display: flex;
  gap: 16px;
}

.selectwrapper {
  position: relative;
}

.selectarrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-60%);
  pointer-events: none;
}

@media (width<768px) {
  .header__principalinfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
