/*Variables de color*/

:root {
  --white-warm: rgb(245, 244, 240);
  --beige-light: rgb(212, 210, 202);

  --gray-dark: rgb(43, 43, 43);
  --gray-medium: rgb(111, 111, 111);

  --green-soft: rgb(122, 142, 124);
  --green: rgb(79, 111, 82);
  --green-06: rgb(79, 111, 82, 0.6);

  --terracotta-soft: rgb(191, 120, 88);

  --green-success: rgb(95, 163, 106);
  --red-soft: rgb(196, 74, 74);
}

/*General*/

html {
  margin: 0;
  padding: 0;
  background-color: var(--white-warm);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--gray-dark);
}

main {
  position: relative;
  height: 85vh;
  padding: 16px 32px 32px 32px;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

/*Top bar*/

.topbar {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 2px 3px var(--beige-light);
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 32px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--green);
}

/*Buttons y filtros*/

.button__add {
  cursor: pointer;
  display: inline-flex;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: normal;
  color: var(--white-warm);

  background-color: var(--green);
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 4px var(--green-06);
}

.button__add:hover {
  background-color: var(--green-soft);
}

.button__add:active,
.filter__toggle:active,
.clean__filters:active {
  transform: scale(1) translateY(1px);
}

button:disabled {
  background-color: var(--gray-medium);
}

.buttonheart {
  cursor: pointer;
}

.filter__toggle,
.clean__filters,
.filter {
  cursor: pointer;
  white-space: nowrap;

  padding: 8px 12px;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: normal;
  color: var(--green);

  background-color: var(--white-warm);
  border: 1.5px solid var(--green);
  border-radius: 8px;
  transition: transform 0.15s ease;
}

.filter__toggle__open {
  background-color: var(--beige-light);
}

.clean__filters {
  color: var(--terracotta-soft);
  border-color: var(--terracotta-soft);
}

.filter {
  white-space: nowrap;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 32px 8px 12px;
  height: 42.67px;
}

.filter:focus {
  outline-color: var(--terracotta-soft);
  color: var(--terracotta-soft);
  background-color: var(--white-warm);
}

.filter__toggle:hover,
.filter:hover,
.clean__filters:hover {
  background-color: var(--beige-light);
}

.filter__badge {
  display: none;
}

.filters__badge__active {
  position: absolute;
  top: -5.5px;
  right: -6px;

  padding: 2px;
  min-width: 12px;
  height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  color: var(--white-warm);
  border: 0.8px solid var(--beige-light);
  border-radius: 100px;
  background-color: var(--green);
}

/*Icons*/

.icon24px {
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
}

.icon20px {
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}

/*Message*/

.messageinfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: var(--terracotta-soft);
}

/*Buscador*/

.search {
  flex: 1;
  min-width: 260px;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.search__input {
  align-self: flex-start;
  width: 100%;
  padding: 8px 12px;
  background-color: var(--beige-light);
  border: none;
  border-radius: 8px;
}

input[type="text"]:focus {
  outline-color: var(--gray-medium);
}

input[type="text"]::placeholder {
  color: var(--gray-medium);
}

.search__icon {
  transform: translateX(-32px);
}

/*Header containers y otros*/

header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

.header__principalinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.buttons__add {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filters__icon {
  position: relative;
}

.filter__panel {
  display: none;
}

.filter__panel__active {
  display: flex;
  gap: 16px;
}

.filters {
  display: flex;
  gap: 16px;
}

.selectwrapper {
  position: relative;
}

.selectarrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-60%);
  pointer-events: none;
}

/*Cards*/

.dogCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

.card {
  margin: 0;
  padding: 16px;
  max-width: 260px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  color: var(--gray-dark);
  border: 1.5px solid var(--beige-light);
  box-shadow: 0 2px 3px var(--beige-light);
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card__infoprincipal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card h3 {
  color: var(--green);
  font-size: 20px;
}

.card span {
  font-size: 16px;
  color: var(--gray-medium);
}

.card__img {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
