
/*Buttons y filtros*/

.button__add {
  cursor: pointer;
  display: inline-flex;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: normal;
  color: var(--white-warm);

  background-color: var(--green);
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 4px var(--green-06);
}

.button__add:hover {
  background-color: var(--green-soft);
}

.button__add:active,
.filter__toggle:active,
.clean__filters:active {
  transform: scale(1) translateY(1px);
}

button:disabled {
  background-color: var(--gray-medium);
}

.buttonheart {
  cursor: pointer;
}

.filter__toggle,
.clean__filters,
.filter {
  cursor: pointer;
  white-space: nowrap;

  padding: 8px 12px;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: normal;
  color: var(--green);

  background-color: var(--white-warm);
  border: 1.5px solid var(--green);
  border-radius: 8px;
  transition: transform 0.15s ease;
}

.filter__toggle__open {
  background-color: var(--beige-light);
}

.clean__filters {
  color: var(--terracotta-soft);
  border-color: var(--terracotta-soft);
}

.filter {
  white-space: nowrap;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 32px 8px 12px;
  height: 42.67px;
}

.filter:focus {
  outline-color: var(--terracotta-soft);
  color: var(--terracotta-soft);
  background-color: var(--white-warm);
}

.filter__toggle:hover,
.filter:hover,
.clean__filters:hover {
  background-color: var(--beige-light);
}

.filter__badge {
  display: none;
}

.filters__badge__active {
  position: absolute;
  top: -5.5px;
  right: -6px;

  padding: 2px;
  min-width: 12px;
  height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  color: var(--white-warm);
  border: 0.8px solid var(--beige-medium);
  border-radius: 100px;
  background-color: var(--green);
}

/*Buscador*/

.search {
  flex: 1;
  min-width: 260px;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.search__input {
  align-self: flex-start;
  width: 100%;
  padding: 8px 12px;
  background-color: var(--beige-medium);
  border: none;
  border-radius: 8px;
}

input[type="text"]:focus {
  outline-color: var(--gray-medium);
}

input[type="text"]::placeholder {
  color: var(--gray-medium);
}

.search__icon {
  transform: translateX(-32px);
}

/*Header containers y otros*/

header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__principalinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.buttons__add {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filters__icon {
  position: relative;
}

.filter__panel {
  display: none;
}

.filter__panel__active {
  display: flex;
  gap: 16px;
}

.filters {
  display: flex;
  gap: 16px;
}

.selectwrapper {
  position: relative;
}

.selectarrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-60%);
  pointer-events: none;
}
