/*Header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}

.header__titleAndSubtitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__intro {
  min-width: 250px;
  max-width: 650px;
}

@media(width<610px) {
  header {
  flex-direction: column;
  gap: 16px;
}

}