/*Header*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header__titleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.header__intro {
  min-width: 250px;
  max-width: 600px;
}

@media (width<460px) {
  header {
    align-items: flex-start;
  }
  .header__titleAndSubtitle{
    align-items: start;
    text-align: start;
  }
}
