
/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
}

.header__titleAndSubtitle {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header__title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__intro {
    min-width: 250px;
    max-width: 650px;
}