/*Arreglar el menu desplegable de mobile, quiero que dentro se vea el current user y permita salir de la cuenta

/*Variables de color*/

:root {
  --white-warm: rgb(245, 244, 240);
  --beige-light: rgb(231, 228, 222);
  --beige-medium: rgb(212, 210, 202);

  --gray-dark: rgb(43, 43, 43);
  --gray-medium: rgb(111, 111, 111);

  --green-soft: rgb(122, 142, 124);
  --green: rgb(79, 111, 82);
  --green-06: rgb(79, 111, 82, 0.6);

  --terracotta-soft: rgb(191, 120, 88);

  --green-success: rgb(95, 163, 106);
  --red-soft: rgb(196, 74, 74);
}

/*General*/

html,
body,
h1,
h2,
h3,
h4,
p,
span {
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--white-warm);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--gray-dark);
}

main {
  position: relative;
  height: 100%;
  padding: 92px 32px 92px 32px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (width<768px) {
  main {
    padding: 80px 32px 80px 32px;
    gap: 32px;
  }
}
@media (width<460px) {
  main {
    padding: 80px 16px 80px 16px;
    gap: 32px;
  }
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--green);
}

.capitalize {
  text-transform: capitalize;
}

.page__active {
  text-decoration: underline;
}

::placeholder {
  color: var(--gray-medium);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

/*Top bar*/

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  box-sizing: border-box;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--white-warm);
  box-shadow: 0 2px 3px var(--beige-medium);
}

.topbar__index {
  background: none;
  box-shadow: 0 2px 3px var(--gray-medium);
}

.menu__icon,
.toggle,
.icon__close {
  display: none;
}

.signout__icon {
  cursor: pointer;
}

.topbar__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--green);
}

.page__active {
  text-decoration: underline;
}

.topbar__user-actions {
  display: flex;
  gap: 32px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
}

.account__text {
  color: var(--green);
  text-decoration: none;
}

.current__user {
  display: flex;
  color: var(--terracotta-soft);
}

.addDog__btn {
  cursor: pointer;
  display: inline-flex;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: normal;
  color: var(--white-warm);

  background-color: var(--green);
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 4px var(--green-06);
}

.addDog__btn:hover {
  background-color: var(--green-soft);
}

.addDog__btn:active,
.filter__toggle:active,
.clean__filters:active {
  transform: scale(1) translateY(1px);
}

.add__icon {
  display: none;
}

@media (width < 960px) {
  .topbar {
    padding: 16px;
  }

  .page__active {
    text-decoration: none;
  }

  .topbar__content {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 8px;
  }

  .menu__icon {
    display: block;
  }

  .menu__icon .icon24px {
    width: 32px;
    height: 32px;
  }

  .toggle + .nav {
    display: none;
  }

  .toggle:checked + .nav {
    display: block;
  }

  .nav {
    position: fixed;
    inset: 0;
    z-index: 99;
    padding: 16px 32px;

    background-color: var(--green);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon__close {
    display: flex;
    justify-content: flex-end;
  }

  .nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .nav__item {
    text-decoration: none;
    color: #fefaf6;
    font-size: 16px;
    font-weight: 500;

    padding: 8px 12px;
    border-radius: 8px;

    display: block;
  }

  .current__user,
  .account__text,
  .account__icon,
  .signout__icon,
  .addDog__btn {
    display: none;
  }

  .add__icon {
    display: block;
  }
}

/*Icons*/

.icon24px {
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
}

@media (width<760px) {
  .icon24px {
    width: 32px;
    height: 32px;
  }
}

.icon20px {
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}

.icon32px {
  width: 32px;
  height: 32px;
  display: block;
  flex-shrink: 0;
}

/*Call to action*/

.cta {
  cursor: pointer;
  padding: 12px 24px;
  white-space: nowrap;

  font-size: 16px;
  font-weight: normal;
  color: var(--white-warm);
  text-decoration: none;

  background-color: var(--green);
  border: 1.5px solid var(--green);
  border-radius: 16px;
  box-shadow: 0 2px 4px var(--green-06);
}

.cta:hover {
  background-color: var(--green-soft);
}

.cta:active,
.cta__secundary:active {
  transform: translateY(2px);
}

.cta__secundary {
  cursor: pointer;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: normal;
  color: var(--green);
  text-decoration: none;

  background-color: var(--beige-light);
  border: 1.5px solid var(--green);
  border-radius: 16px;
  box-shadow: 0 2px 4px var(--green-06);
}

.cta__secundary:hover {
  background-color: var(--beige-medium);
}

/*Message*/

.messageinfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  text-align: center;
  color: var(--terracotta-soft);
}

.message__form,
.message__login {
  position: fixed;
  inset: 0;
  z-index: 9;

  align-items: center;
  justify-content: center;

  background-color: var(--white-warm);
}

.message__login {
  background-color: none;
}

.message__form:not([hidden]),
.message__login:not([hidden]) {
  display: flex;
}

.message__form[hidden],
.message__login[hidden] {
  display: none;
}

.message__text {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--white-warm);

  border: 1.5px solid var(--green);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--green-soft);
  background-color: var(--green);
}

.message__error {
  color: var(--red-soft);
}

/*Forms*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.form__content {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__signIn:not([hidden]),
.form__signUp:not([hidden]) {
  display: flex;
}

.form__signIn[hidden],
.form__signUp[hidden] {
  display: none;
}

.form__content fieldset {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: var(--green);

  border: 1.5px solid var(--green);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--green-soft);
  background-color: var(--white-warm);
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--gray-dark);
}

.form__item input,
.form__item textarea, .form select {
  padding: 8px;
  border: 1.5px solid var(--beige-medium);
  border-radius: 8px;
  background-color: var(--beige-light);
  box-shadow: 0 2px 4px var(--beige-medium);
}

.form__item input:focus,
.form__item textarea:focus {
  outline-color: var(--green);
}

label:has(+ input[required="true"]):after,
label:has(+ textarea[required="true"]):after {
  content: "*";
  color: var(--red-soft);
}

@media (width<460px) {
  form[name="contact"] {
    align-items: flex-start;
  }
  .form__content {
    max-width: none;
  }
}

/*Cards*/

.dogCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.card {
  max-width: 320px;
  margin: 0;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  color: var(--gray-dark);
  border: 1.5px solid var(--beige-medium);
  box-shadow: 0 2px 3px var(--beige-medium);
  border-radius: 12px;
  transition: transform 0.2s ease;
}

@media (width<460px) {
  .card {
    max-width: 370px;
  }
}

.card:hover {
  transform: scale(1.05);
}

.card__infoprincipal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card h3 {
  color: var(--green);
  font-size: 20px;
}

.card span {
  font-size: 16px;
  color: var(--gray-medium);
}

.card__img {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*Header*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header__titleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.header__intro {
  min-width: 250px;
  max-width: 600px;
}

@media (width<460px) {
  header {
    align-items: flex-start;
  }
  .header__titleAndSubtitle{
    align-items: start;
    text-align: start;
  }
}
