/*General*/

body {
  height: 100vh;

  background-image: url(../img/dog-bulldog-background.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  color: var(--gray-dark);
  font-size: 48px;
}

/*Header*/

header {
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 32px;
}

.header__titleAndSubtitle {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__subtitle {
  font-size: 20px;
  font-weight: normal;
}
