/*General*/

body {
  height: 100vh;

  background-image: url(../img/dog-bulldog-background.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  color: var(--gray-dark);
  font-size: 48px;
}

@media (width < 800px) {
  h1 {
    font-size: 32px;
  }
}

/*Header*/

header {
  height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 32px;
}

.header__titleAndSubtitle {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__subtitle {
  font-size: 20px;
  font-weight: normal;
}

@media (width < 768px) {
  header {
    gap: 16px;
  }
  .header__titleAndSubtitle {
    gap: 8px;
  }
  .header__subtitle {
    font-size: 16px;
  }
}

@media (width < 460px) {
  header {
    align-items:flex-start;
    text-align:start;
  }
}
