.login__page {
  padding-bottom: 0px;
}

form[name="login"] ,form[name="signUp"]{
  min-height: calc(100vh - 72px);
  width: 100%;
  justify-content: center;
}

.warning{
  font-size: 14px;
  color: var(--red-soft);
}

.goSignUp, .goSignIn{
  font-size: 14px;
  color: var(--gray-dark);
}

.btn_goSignUp, .btn_goSignIn{
  cursor: pointer;
  text-decoration: underline;
  color: var(--green);
}